body {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  overflow: hidden;
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.info {
  padding: 10px;

}
